
   <nb-layout>
      <nb-layout-column>
          <h1 id="title" class="title" align="center">Malayalam Movie Database</h1>
  <nb-card>
    <nb-card-body align="center">
       <nb-card-header>
          <p class="sub-title">Hello! Log in to your account.</p>
       </nb-card-header> 
      <input type="text" nbInput  status="info" placeholder="Username/Email"><br><br>
     
        <input type="text" nbInput  status="warning" placeholder="Password"><br><br>
      <nb-card-body align="center">
          <button nbButton shape="semi-round" outline status="info">Login</button>
      </nb-card-body>
      
    </nb-card-body>
  </nb-card>
</nb-layout-column>
</nb-layout>
 
 
   
 

 