<nb-sidebar>

        <nb-card>
                <nb-card-body>
              
                  <nb-menu [items]="items">
                  </nb-menu>
              
                </nb-card-body>
              </nb-card>
</nb-sidebar>

<nb-layout-column>
  
  
</nb-layout-column>

<nb-layout-footer fixed>

</nb-layout-footer>